*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// React Data Grid
.r104f42s700-beta7 {
  --font-size: 1em;
  &:not(.rdg-light.rdg-dark) {
    --color: none;
    --border-color: none;
    --summary-border-color: none;
    --background-color: none;
    --header-background-color: none;
    --row-hover-background-color: #171717;
    --row-selected-background-color: none;
    --row-selected-hover-background-color: none;
    --selection-color: none;
  }
}

@import 'variables';
@import 'bootstrap';
@import 'root';

// scroll bar
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #df012d5d;
  border-radius: 0.25em;
}

::-webkit-scrollbar-thumb:hover {
  background: #df012e;
}
